</div>


<div class="black">

<h1>FIND A SPANISH IMMERSION PROGRAM:</h1>
<table>
  <tr>
    <td>
      <a href="<%= schools_path %>"><div class="country mexico"><img class="root" src="http://us.123rf.com/450wm/creativedoxfoto/creativedoxfoto1110/creativedoxfoto111000031/11282881-old-grunge-flag-of-mexico.jpg" alt=""></div></a>
    </td>
    <td>
      <h1 class="root">MEXICO</h1>
    </td>
  </tr>
</table>
<br>
 <h1 class="root">>>>>>>>>>>>>>>>>>>>>>> PICK  </h1><br />
 <br>
<table>
  <tr>
    <td>
      <h1 class="root">Guatemala</h1>
    </td>
    <td>
      <a href="http://www.guatemala365.com/"><div class="country guatamala">  <img class="root" src="http://us.123rf.com/400wm/400/400/haak78/haak780910/haak78091000091/5708075-coffee-beans--guatemala.jpg" alt=""></div></a>
    </td>
  </tr>
</table>

<img src="https://mail.google.com/mail/u/0/?ui=2&ik=a406f72f4c&view=fimg&th=146239fc3a0f48c0&attid=0.1&disp=inline&realattid=f_hvhyk0ht1&safe=1&attbid=ANGjdJ8AFByv32fYIpotk7zLJbMRjsKnNEkZHe8O6zDADk_74S37gLM4cdrweWxKLKaGrggEKgrd57LVA9GS-d-eCfJkx1g4msGPQn5qj21H3Vt9NzGatvxApOF9l5k&ats=1400757011680&rm=146239fc3a0f48c0&zw&sz=w722-h773" alt="">

</div>
 <h1 class="left"> < Spanish Immersion Programs > </h1>



</div>

