/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: gray;
  font-family:  'Merriweather Sans', sans-serif;
}

h2 {
  font-size: 1.5em;
}


.background {
  max-width: 1100px;
  background-color: white;
  margin: 0 auto;
  border-radius: 30px;

}

.top {
  width: 100%;
  height: 50px;
  background-color: black;
  border-radius: 25px 25px 0px 0px;
}

.header {
  width: 100%;
  height: 30px;
  background-color: black;
  color: white;
  display: inline-block;
 }

a.header {
  color: white;
}

.title {
  background-image:url("https://mail.google.com/mail/u/0/?ui=2&ik=a406f72f4c&view=fimg&th=1461e0db6f88a3c5&attid=0.1&disp=inline&realattid=f_hvgewtij1&safe=1&attbid=ANGjdJ-pjavBT4rijJyjW8YSvtINpQW8d2zVBn2I9XV1mCkleB58FSaWwJfhjILWl_rTAy6jloqMAQfHSB1tw8w0K6bfdFMETBKHLadyxYXJtc7SkKDR3MNQ9G37y2c&ats=1400663554450&rm=1461e0db6f88a3c5&zw&sz=w582-h450");
  background-repeat:no-repeat;
  background-size: 1120px;
  height: 250px;
  opacity: 0.7;
  position: relative;
  top: -21px;
  text-align: right;

}

.search {
  float: left;
}

.listing {
  float: right;
}

.administrative {
  display: inline-block;
  width: 100%;
}

/*SHOW PG*/

.flickr_photo {
  position:relative;
  width:100%;
  opacity: 0.4;
  top: -200px;
  margin: 0 auto;
}

.wrapA {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.city {
  position:relative;
  z-index: 2;
  background-color: none;
  top:-100px;
  height:0px;
  float: right;
  line-height: 0px;
}

.photos {

  height: 100%;
  margin: 0 auto;
}

 .wrap {
  width: 363px;
  height: 272px;
  overflow: hidden;
  float: left;

  vertical-align: middle;
 }

 .two {
  margin: 0px 5.5px 0px 5.5px;
 }

.school {
  height: 100%;


 }

 .left {
  width: 30%;
  float: left;
  padding: 10px;
  margin-top: 30px;
  text-align: right;

 }

 .right {
  width: 40%;
  float: left;
  padding: 10px;
  margin-top: 45px;
  margin-left: 15px;
  color: gray;
  font-size: 0.9em;
  line-height: 2em;
 }

 .box {
  text-align: center;
  color: black;
  padding: 5px;
  float: right;
  margin: 20px;
  border: 2px solid black;
  width: 30%;
 }

 .courses {
  width: 100%;
  display: inline-block;
  background-color: blanchedalmond;
  margin-top: 30px;
  padding-top: 60px;
 }

.new_course {
  float:right;
}

 .text_left {
  text-align: left;
 }

 table.courses, tr, td{
  border: 2px dotted black;
  padding: 5px;
 }

.no_border {
  border: 0px;
}

 .website {
  width: 100%;
  display: inline-block;
  position: relative;

 }

 .computer {
  width: 100%;
  position: relative;
  top: 20px;
  border-radius: 0px;
 }

.mother_web {
  width: 90%;
  height:80%;
  position: absolute;
  top: 23.5%;
  left: 26%;
  z-index:1;
}
.button {
  height: 50px;
  width: 50px;
  background-color: yellow;
  border: 10px solid white;
  float: right;
  border-radius: 50px;
  text-align: center;
}
